---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import { SITE } from "@/config";

export interface Props {
  page: CollectionEntry<"pages">;
}

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map(page => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
---

<Layout title={`${page.id} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id={page.id} class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{page.id}</h1>
      <article>
        {page.body}
      </article>
    </section>
  </main>
  <Footer />
</Layout>